<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landing.css">
    <script src="scripts/landingScript.js" defer type="module"></script>
</head>

<body>

        <!-- Header -->
        <%- include("./partials/header.ejs") %>


            <!-- Slider -->

            <section class="slider">

                <div class="slider-inner">

                    <div class="slide">
                        <div class="slide-content">
                            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                                    fill="#EFF2F7" />
                                <path
                                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                                    fill="#1877F2" />
                            </svg>

                            <p class="slide-header">Autumn Collection</p>
                            <p class="slide-desc">Most of the products at <span class="blue">20%</span> discount</p>
                            <a href="#sale">Check it out</a>
                        </div>
                        <img src="images/img.png" alt="img">
                    </div>

                    <div class="slide">
                        <div class="slide-content">
                            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                                    fill="#EFF2F7" />
                                <path
                                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                                    fill="#1877F2" />
                            </svg>

                            <p class="slide-header">Autumn Collection</p>
                            <p class="slide-desc">Most of the products at <span class="blue">20%</span> discount</p>
                            <a href="#sale">Check it out</a>
                        </div>
                        <img src="images/img.png" alt="img">
                    </div>

                    <div class="slide">
                        <div class="slide-content">
                            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                                    fill="#EFF2F7" />
                                <path
                                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                                    fill="#1877F2" />
                            </svg>

                            <p class="slide-header">Autumn Collection</p>
                            <p class="slide-desc">Most of the products at <span class="blue">20%</span> discount</p>
                            <a href="#sale">Check it out</a>
                        </div>
                        <img src="images/img.png" alt="img">
                    </div>

                </div>

                <div class="slider-dots">
                    <div class="dot dot-active" data-num="0"></div>
                    <div class="dot" data-num="1"></div>
                    <div class="dot" data-num="2"></div>
                </div>

                <div class="prev">
                    <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="2.62142" height="19.2751" rx="1.31071"
                            transform="matrix(-0.707083 0.707131 -0.707083 -0.707131 15.4828 25.4584)" fill="#E0E0E0" />
                        <rect width="2.62142" height="19.2751" rx="1.31071"
                            transform="matrix(-0.707083 -0.707131 0.707083 -0.707131 1.85358 15.4837)" fill="#E0E0E0" />
                    </svg>
                </div>

                <div class="next">
                    <svg width="16" height="28" viewBox="0 0 16 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect width="2.62145" height="19.2753" rx="1.31072"
                            transform="matrix(0.707091 -0.707123 0.707091 0.707123 0 1.8537)" fill="#E0E0E0" />
                        <rect width="2.62145" height="19.2753" rx="1.31072"
                            transform="matrix(0.707091 0.707123 -0.707091 0.707123 13.6295 11.8283)" fill="#E0E0E0" />
                    </svg>
                </div>

            </section>



            <!-- New Collections -->

            <section class="new-collections">


                <h2>New Products</h2>

                <div class="male-coll">
                    
                    <% male.forEach(item => { %>

                        <a href=<%= `/item?id=${item._id.toString()}` %> class="coll-item">
                            <img src=<%= `/prodImgs/${item.mainImg}`%> alt="img">
                        </a>

                    <% }) %>
                    <svg width="424" height="140" viewBox="0 0 424 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M0.40625 140V0.351562H23.3555L74.625 116.855L124.918 0.351562H146.891V140H130.777V25.4492L81.168 140H66.9102L16.5195 25.4492V140H0.40625ZM173.258 109.043C173.258 88.0143 187.125 77.5 214.859 77.5C223.779 77.5 232.698 78.151 241.617 79.4531V69.7852C241.617 58.0013 232.405 52.1094 213.98 52.1094C203.434 52.1094 192.626 53.737 181.559 56.9922V42.3438C192.626 39.0885 203.434 37.4609 213.98 37.4609C244.449 37.4609 259.684 48.0729 259.684 69.2969V140H249.527L243.277 129.844C233.056 136.615 221.923 140 209.879 140C185.465 140 173.258 129.681 173.258 109.043ZM214.859 92.1484C199.169 92.1484 191.324 97.6823 191.324 108.75C191.324 119.818 197.509 125.352 209.879 125.352C222.379 125.352 232.958 122.031 241.617 115.391V94.1016C232.698 92.7995 223.779 92.1484 214.859 92.1484ZM308.121 0.351562V140H290.055V0.351562H308.121ZM380.777 37.4609C409.944 37.4609 424.527 51.8815 424.527 80.7227C424.527 84.8242 424.234 89.2188 423.648 93.9062H351.676C351.676 114.87 363.915 125.352 388.395 125.352C400.048 125.352 410.4 124.049 419.449 121.445V136.094C410.4 138.698 399.397 140 386.441 140C351.22 140 333.609 122.52 333.609 87.5586C333.609 54.1602 349.332 37.4609 380.777 37.4609ZM351.676 78.8672H407.145C406.754 60.8984 397.965 51.9141 380.777 51.9141C362.548 51.9141 352.848 60.8984 351.676 78.8672Z"
                            fill="#EFF2F7" fill-opacity="0.07" />
                    </svg>

                </div>


                <div class="female-coll">

                    <% female.forEach(item => { %>

                            <a href=<%= `/item?id=${item._id.toString()}` %> class="coll-item">
                                <img src=<%= `/prodImgs/${item.mainImg}`%> alt="img">
                            </a>
    
                    <% }) %>

                    <svg width="643" height="140" viewBox="0 0 643 140" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M90.2539 0.351562V15H17.0117V61.875H86.8359V76.5234H17.0117V140H-1.05469V0.351562H90.2539ZM152.168 37.4609C181.335 37.4609 195.918 51.8815 195.918 80.7227C195.918 84.8242 195.625 89.2188 195.039 93.9062H123.066C123.066 114.87 135.306 125.352 159.785 125.352C171.439 125.352 181.79 124.049 190.84 121.445V136.094C181.79 138.698 170.788 140 157.832 140C122.611 140 105 122.52 105 87.5586C105 54.1602 120.723 37.4609 152.168 37.4609ZM123.066 78.8672H178.535C178.145 60.8984 169.355 51.9141 152.168 51.9141C133.939 51.9141 124.238 60.8984 123.066 78.8672ZM220.234 140V37.4609H232.441L235.469 50.3516C245.299 41.7578 256.009 37.4609 267.598 37.4609C282.441 37.4609 292.565 42.1484 297.969 51.5234C309.102 42.1484 320.397 37.4609 331.855 37.4609C355.423 37.4609 367.207 50.4492 367.207 76.4258V140H349.141V75.4492C349.141 60.1497 342.695 52.5 329.805 52.5C320.169 52.5 311.152 56.9271 302.754 65.7812V140H284.688V75.7422C284.688 60.2474 278.307 52.5 265.547 52.5C255.391 52.5 246.309 56.9271 238.301 65.7812V140H220.234ZM391.719 109.043C391.719 88.0143 405.586 77.5 433.32 77.5C442.24 77.5 451.159 78.151 460.078 79.4531V69.7852C460.078 58.0013 450.866 52.1094 432.441 52.1094C421.895 52.1094 411.087 53.737 400.02 56.9922V42.3438C411.087 39.0885 421.895 37.4609 432.441 37.4609C462.91 37.4609 478.145 48.0729 478.145 69.2969V140H467.988L461.738 129.844C451.517 136.615 440.384 140 428.34 140C403.926 140 391.719 129.681 391.719 109.043ZM433.32 92.1484C417.63 92.1484 409.785 97.6823 409.785 108.75C409.785 119.818 415.97 125.352 428.34 125.352C440.84 125.352 451.419 122.031 460.078 115.391V94.1016C451.159 92.7995 442.24 92.1484 433.32 92.1484ZM526.582 0.351562V140H508.516V0.351562H526.582ZM599.238 37.4609C628.405 37.4609 642.988 51.8815 642.988 80.7227C642.988 84.8242 642.695 89.2188 642.109 93.9062H570.137C570.137 114.87 582.376 125.352 606.855 125.352C618.509 125.352 628.861 124.049 637.91 121.445V136.094C628.861 138.698 617.858 140 604.902 140C569.681 140 552.07 122.52 552.07 87.5586C552.07 54.1602 567.793 37.4609 599.238 37.4609ZM570.137 78.8672H625.605C625.215 60.8984 616.426 51.9141 599.238 51.9141C581.009 51.9141 571.309 60.8984 570.137 78.8672Z"
                            fill="#EFF2F7" fill-opacity="0.07" />
                    </svg>

                </div>

            </section>


            <!-- Bestsellers -->

            <section class="bestsellers">

                <h2>Bestsellers</h2>

                <% bsMale.forEach((item,i) =>{ %>
                    <a href="/item?id=<%=item._id.toString()%>" class="bests-item m<%= i+1 %>">
                        <img src="/prodImgs/<%= item.mainImg %>" alt="">
                    </a>
                <% }) %>

<!--                 <div class="bests-item m1"></div>
                <div class="bests-item m2"></div>
                <div class="bests-item m3"></div> -->

                <% bsFemale.forEach((item,i) =>{ %>
                    <a href="/item?id=<%=item._id.toString()%>" class="bests-item f<%= i+1 %>">
                        <img src="/prodImgs/<%= item.mainImg %>" alt="">
                    </a>
                <% }) %>
<!--                 <div class="bests-item f1"></div>
                <div class="bests-item f2"></div>
                <div class="bests-item f3"></div> -->

            </section>


            <% console.log("\n\n---Sale\n", sale) %>
            <!-- Sale -->

            <section class="sale" id="sale">

                <h2>Sale</h2>

                <div class="sale-menu">

                    <div class="timer">15:20:31</div>

                </div>

                <div class="sale-items">
                    <% let i = 1 %>
                    <% sale.mitems.forEach(item =>{ %>

                        <a href="/item?id=<%= item._id.toString() %>" class="sale-item s<%=i%>">
                            <img src="/prodImgs/<%= item.mainImg %>" alt="">
                        </a>
                        <% i++ %>
                    <% }) %>

                    <% sale.fitems.forEach(item =>{ %>
                        <a href="/item?id=<%= item._id.toString() %>" class="sale-item s<%=i%>">
                            <img src="/prodImgs/<%= item.mainImg %>" alt="">
                        </a>
                        <% i++ %>
                    <% }) %>

                </div>

            </section>



            <!-- Footer -->
            <%- include('./partials/footer.ejs') %>

</body>

</html>