<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="lastOrders.css">
</head>

<body>

    <header>
        <a class="back-cont" href="/">
            <svg width="18" height="32" viewBox="0 0 18 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="3.04757" height="22.4086" rx="1.52378"
                    transform="matrix(-0.707083 0.707131 -0.707083 -0.707131 18 29.5969)" fill="#EFF2F7" />
                <rect width="3.04757" height="22.4086" rx="1.52378"
                    transform="matrix(-0.707083 -0.707131 0.707083 -0.707131 2.1543 18.0008)" fill="#EFF2F7" />
            </svg>
        </a>

        <a class="logo" href="/">
            <svg class="logo-svg" width="123" height="28" viewBox="0 0 123 28" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M0.929688 28V0.0703125H4.54297V9.71875C6.28776 8.23438 8.41667 7.49219 10.9297 7.49219C16.0469 7.49219 18.6055 10.0378 18.6055 15.1289V28H14.9922V15.0703C14.9922 12.0234 13.4753 10.5 10.4414 10.5C8.37109 10.5 6.40495 11.3659 4.54297 13.0977V28H0.929688ZM50.5586 17.668C50.5586 22.6029 52.6094 25.0703 56.7109 25.0703C60.8125 25.0703 62.8633 22.6029 62.8633 17.668C62.8633 12.8372 60.8125 10.4219 56.7109 10.4219C52.6094 10.4219 50.5586 12.8372 50.5586 17.668ZM46.9453 17.7461C46.9453 10.9102 50.2005 7.49219 56.7109 7.49219C63.2214 7.49219 66.4766 10.9102 66.4766 17.7461C66.4766 24.569 63.2214 27.9805 56.7109 27.9805C50.2266 27.9805 46.9714 24.569 46.9453 17.7461ZM85.1289 11.6719C83.6706 10.9688 82.0039 10.6172 80.1289 10.6172C76.0013 10.6172 73.9375 12.8112 73.9375 17.1992C73.9375 22.3945 76.0013 24.9922 80.1289 24.9922C82.0039 24.9922 83.6706 24.7383 85.1289 24.2305V11.6719ZM88.7422 26.7695C86.2552 27.5898 83.1888 28 79.543 28C73.4362 28 70.3828 24.4453 70.3828 17.3359C70.3828 10.7734 73.625 7.49219 80.1094 7.49219C81.8802 7.49219 83.5534 7.81771 85.1289 8.46875V0.0703125H88.7422V26.7695ZM98.6055 7.49219V28H94.9922V7.49219H98.6055ZM98.6055 0.0703125V3.48828H94.9922V0.0703125H98.6055ZM113.332 7.49219C119.165 7.49219 122.082 10.3763 122.082 16.1445C122.082 16.9648 122.023 17.8438 121.906 18.7812H107.512C107.512 22.974 109.96 25.0703 114.855 25.0703C117.186 25.0703 119.257 24.8099 121.066 24.2891V27.2188C119.257 27.7396 117.056 28 114.465 28C107.421 28 103.898 24.5039 103.898 17.5117C103.898 10.832 107.043 7.49219 113.332 7.49219ZM107.512 15.7734H118.605C118.527 12.1797 116.77 10.3828 113.332 10.3828C109.686 10.3828 107.746 12.1797 107.512 15.7734Z"
                    fill="#EFF2F7" />
                <path
                    d="M27.1211 17.668C27.1211 22.6029 29.1719 25.0703 33.2734 25.0703C37.375 25.0703 39.4258 22.6029 39.4258 17.668C39.4258 12.8372 37.375 10.4219 33.2734 10.4219C29.1719 10.4219 27.1211 12.8372 27.1211 17.668ZM23.5078 17.7461C23.5078 10.9102 26.763 7.49219 33.2734 7.49219C39.7839 7.49219 43.0391 10.9102 43.0391 17.7461C43.0391 24.569 39.7839 27.9805 33.2734 27.9805C26.7891 27.9805 23.5339 24.569 23.5078 17.7461Z"
                    fill="#1877F2" />
            </svg>
        </a>
    </header>


    <main>


        <h2>Last Orders</h2>


        <% orders.forEach(order =>{ %>

            <div class="order-cont">

                    <table class="order-items">

                        <tr class="table-header">
                            <th class="h-image">Image</th>
                            <th class="h-name">Name</th>
                            <th class="h-price">Price</th>
                            <th class="h-size">Size</th>
                            <th class="h-color">Color</th>
                            <th class="h-quantity">Quantity</th>
                            <th class="h-details">Details</th>
                        </tr>

                        <% order.items.forEach(item =>{ %>
                            <% console.log(item) %>

                            <tr class="tab-item">
                                <td class="i-img">
                                    <div class="i-img-inner">
                                        <img src="<%= item.mainImg %>" alt="">
                                    </div>
                                </td>
                                <td class="i-name"><a href="/item?id=<%= item.id %>">Produkt test</a></td>
                                <td class="i-price"><%= item.price %>$</td>
                                <td class="i-size">
                                    <div class="i-size-inner">
                                        <div class="size" data-siz="<%= item.size %>"></div>
                                    </div>
                                </td>
                                <td class="i-color">
                                    <div class="i-color-inner">
                                        <div class="color" data-col="<%= item.color %>"></div>
                                    </div>
                                </td>
                                <td class="i-quantity"><%= item.quant %></td>
                                <td class="i-details"><button>Details</button></td>
                            </tr>

                        <% }) %>
                            
                    </table>
    
                <div class="order-info">
    
    
                    <div class="address-cont">
    
                        <div class="city-c cont">
                            <h5>City</h5>
                            <div class="city"><%= order.orderData.city %></div>
                        </div>
    
                        <div class="code-c cont">
                            <h5>Code</h5>
                            <div class="code"><%= order.orderData.postcode %></div>
                        </div>
    
                        <div class="country-c cont">
                            <h5>Country</h5>
                            <div class="country"><%= order.orderData.country %></div>
                        </div>
    
                        <div class="phone-c cont">
                            <h5>Phone number</h5>
                            <div class="phone"><%= order.orderData.phonenr %></div>
                        </div>

                        <div class="address-c cont">
                            <h5>Address</h5>
                            <div class="address"><%= order.orderData.address %></div>
                        </div>
    
                    </div>
    
                    <div class="options-cont">
    
                        <div class="options-c delivery">
                            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.0837 9.51257C10.9716 9.51257 10.0669 10.4173 10.0669 11.5294C10.0669 12.6415 10.9716 13.5462 12.0837 13.5462C13.196 13.5462 14.1005 12.6415 14.1005 11.5294C14.1005 10.4173 13.1958 9.51257 12.0837 9.51257ZM12.0837 12.5378C11.5276 12.5378 11.0753 12.0855 11.0753 11.5294C11.0753 10.9733 11.5276 10.521 12.0837 10.521C12.6398 10.521 13.0921 10.9733 13.0921 11.5294C13.0921 12.0855 12.6398 12.5378 12.0837 12.5378Z" fill="#8C8C8C"/>
                                <path d="M5.19308 9.51257C4.08099 9.51257 3.17627 10.4173 3.17627 11.5294C3.17627 12.6415 4.08099 13.5462 5.19308 13.5462C6.30518 13.5462 7.20989 12.6415 7.20989 11.5294C7.20989 10.4173 6.30518 9.51257 5.19308 9.51257ZM5.19308 12.5378C4.63696 12.5378 4.18468 12.0855 4.18468 11.5294C4.18468 10.9733 4.63696 10.521 5.19308 10.521C5.74905 10.521 6.20149 10.9733 6.20149 11.5294C6.20149 12.0855 5.74921 12.5378 5.19308 12.5378Z" fill="#8C8C8C"/>
                                <path d="M13.442 3.73981C13.3563 3.56956 13.182 3.46216 12.9914 3.46216H10.3359V4.47057H12.6805L14.0534 7.20132L14.9546 6.74819L13.442 3.73981Z" fill="#8C8C8C"/>
                                <path d="M10.5715 11.042H6.75635V12.0504H10.5715V11.042Z" fill="#8C8C8C"/>
                                <path d="M3.68077 11.042H1.9329C1.6544 11.042 1.42871 11.2677 1.42871 11.5462C1.42871 11.8247 1.65443 12.0504 1.9329 12.0504H3.6808C3.9593 12.0504 4.18499 11.8247 4.18499 11.5462C4.18499 11.2677 3.95927 11.042 3.68077 11.042Z" fill="#8C8C8C"/>
                                <path d="M15.8942 7.95961L14.9025 6.6823C14.8072 6.55927 14.6601 6.48733 14.5043 6.48733H10.8405V2.95792C10.8405 2.67942 10.6147 2.45374 10.3363 2.45374H1.9329C1.6544 2.45374 1.42871 2.67945 1.42871 2.95792C1.42871 3.23639 1.65443 3.46211 1.9329 3.46211H9.83205V6.99152C9.83205 7.27002 10.0578 7.4957 10.3362 7.4957H14.2574L14.9917 8.44158V11.0419H13.5967C13.3182 11.0419 13.0926 11.2676 13.0926 11.5461C13.0926 11.8246 13.3183 12.0503 13.5967 12.0503H15.4959C15.7744 12.0503 16.0001 11.8246 16.0001 11.5461V8.26886C16.0001 8.15692 15.9628 8.04802 15.8942 7.95961Z" fill="#8C8C8C"/>
                                <path d="M3.64726 8.48743H1.32792C1.04942 8.48743 0.82373 8.71315 0.82373 8.99161C0.82373 9.27012 1.04945 9.4958 1.32792 9.4958H3.64723C3.92573 9.4958 4.15142 9.27008 4.15142 8.99161C4.15145 8.71315 3.92573 8.48743 3.64726 8.48743Z" fill="#8C8C8C"/>
                                <path d="M4.80672 6.50415H0.504188C0.225719 6.50415 0 6.72987 0 7.00837C0 7.28687 0.225719 7.51256 0.504188 7.51256H4.80672C5.08522 7.51256 5.31091 7.28684 5.31091 7.00837C5.31091 6.7299 5.08522 6.50415 4.80672 6.50415Z" fill="#8C8C8C"/>
                                <path d="M5.63045 4.521H1.32792C1.04942 4.521 0.82373 4.74671 0.82373 5.02518C0.82373 5.30368 1.04945 5.52937 1.32792 5.52937H5.63045C5.90895 5.52937 6.13464 5.30365 6.13464 5.02518C6.13467 4.74671 5.90895 4.521 5.63045 4.521Z" fill="#8C8C8C"/>
                            </svg>
                            <div class="txt"><%= order.deliveryMethod %> Delivery</div>                            
                        </div>
    
    
                        <div class="options-c date">
                            <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12.3594 1.09375H11.7031V0H10.6094V1.09375H3.39062V0H2.29688V1.09375H1.64062C0.735984 1.09375 0 1.82973 0 2.73438V12.3594C0 13.264 0.735984 14 1.64062 14H12.3594C13.264 14 14 13.264 14 12.3594V2.73438C14 1.82973 13.264 1.09375 12.3594 1.09375ZM12.9062 12.3594C12.9062 12.6609 12.6609 12.9062 12.3594 12.9062H1.64062C1.33908 12.9062 1.09375 12.6609 1.09375 12.3594V5.14062H12.9062V12.3594ZM12.9062 4.04688H1.09375V2.73438C1.09375 2.43283 1.33908 2.1875 1.64062 2.1875H2.29688V3.28125H3.39062V2.1875H10.6094V3.28125H11.7031V2.1875H12.3594C12.6609 2.1875 12.9062 2.43283 12.9062 2.73438V4.04688Z" fill="#8C8C8C"/>
                                <path d="M3.17188 6.28906H2.07812V7.38281H3.17188V6.28906Z" fill="#8C8C8C"/>
                                <path d="M5.35938 6.28906H4.26562V7.38281H5.35938V6.28906Z" fill="#8C8C8C"/>
                                <path d="M7.54688 6.28906H6.45312V7.38281H7.54688V6.28906Z" fill="#8C8C8C"/>
                                <path d="M9.73438 6.28906H8.64062V7.38281H9.73438V6.28906Z" fill="#8C8C8C"/>
                                <path d="M11.9219 6.28906H10.8281V7.38281H11.9219V6.28906Z" fill="#8C8C8C"/>
                                <path d="M3.17188 8.47656H2.07812V9.57031H3.17188V8.47656Z" fill="#8C8C8C"/>
                                <path d="M5.35938 8.47656H4.26562V9.57031H5.35938V8.47656Z" fill="#8C8C8C"/>
                                <path d="M7.54688 8.47656H6.45312V9.57031H7.54688V8.47656Z" fill="#8C8C8C"/>
                                <path d="M9.73438 8.47656H8.64062V9.57031H9.73438V8.47656Z" fill="#8C8C8C"/>
                                <path d="M3.17188 10.6641H2.07812V11.7578H3.17188V10.6641Z" fill="#8C8C8C"/>
                                <path d="M5.35938 10.6641H4.26562V11.7578H5.35938V10.6641Z" fill="#8C8C8C"/>
                                <path d="M7.54688 10.6641H6.45312V11.7578H7.54688V10.6641Z" fill="#8C8C8C"/>
                                <path d="M9.73438 10.6641H8.64062V11.7578H9.73438V10.6641Z" fill="#8C8C8C"/>
                                <path d="M11.9219 8.47656H10.8281V9.57031H11.9219V8.47656Z" fill="#8C8C8C"/>
                            </svg>
                            <div class="txt">29-06-2021</div>                            
                        </div>
    
                        
                        <div class="options-c pay">
                            <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.3594 2.34375H1.64062C0.735996 2.34375 0 3.07975 0 3.98438V11.0156C0 11.9203 0.735996 12.6562 1.64062 12.6562H13.3594C14.264 12.6562 15 11.9203 15 11.0156V3.98438C15 3.07975 14.264 2.34375 13.3594 2.34375ZM1.64062 3.28125H13.3594C13.7471 3.28125 14.0625 3.59669 14.0625 3.98438V4.92188H0.9375V3.98438C0.9375 3.59669 1.25294 3.28125 1.64062 3.28125ZM13.3594 11.7188H1.64062C1.25294 11.7188 0.9375 11.4033 0.9375 11.0156V5.85938H14.0625V11.0156C14.0625 11.4033 13.7471 11.7188 13.3594 11.7188Z" fill="#888D97"/>
                                <path d="M3.28125 10.3125H2.8125C2.55363 10.3125 2.34375 10.1026 2.34375 9.84375V9.375C2.34375 9.11613 2.55363 8.90625 2.8125 8.90625H3.28125C3.54012 8.90625 3.75 9.11613 3.75 9.375V9.84375C3.75 10.1026 3.54012 10.3125 3.28125 10.3125Z" fill="#888D97"/>
                            </svg>
                            <div class="txt"><%= order.paymentMethod %></div>                       
                        </div>
                        
                    </div>
    
                    <div class="total-cont">
                        <h4 class="totalh4">Total</h4>
                        <div class="total"><%= order.price %>$</div>
                    </div>
    
                </div>
    
            </div>
            
        <% }) %>


    </main>

    <script>
/*         const addresses = document.querySelectorAll('.address-c div')

        addresses.forEach(adr =>{
            if(adr.innerHTML.length > 15){
                const str = adr.innerHTML.slice(0,15);
                adr.innerHTML = str + '...'
            }
        }) */

        (async function(){

            const res = await fetch('/getcolors')
            let hexcolors = await res.json()
            const colors = document.querySelectorAll('.color')

            console.log(hexcolors)
            
            colors.forEach(col =>{
                const color = col.dataset.col;
                const x = hexcolors[color]

                col.style.background = `#${x}`
            })

            const sizes = document.querySelectorAll('.size')

            sizes.forEach(size =>{
                size.innerHTML = size.dataset.siz;
            })

        }())
    </script>
</body>

</html>